## Test

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_073f1b8aebf843ea85d914f649c6646f = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='czxE5heVv_arbRftsT0QlIqXztuo-2DBBK-_acq_6QWF',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

body = client_073f1b8aebf843ea85d914f649c6646f.get_object(Bucket='dsibm-donotdelete-pr-ueyce0wgkxehqu',Key='USPop.xlsx')['Body']

df_data_0 = pd.read_excel(body.read())
df_data_0.head()

     151868 2114
0  153982.0   2411
1  156393.0   2563
2  158956.0   2928
3  161884.0   3185
4  165069.0   3019